[run]
include = 
    distributed/*
omit =
    distributed/tests/test*
    distributed/hdfs.py
    distributed/cluster.py
    distributed/*/tests/test*
    distributed/compatibility.py
    distributed/cli/utils.py
    distributed/utils_test.py
    distributed/deploy/ssh.py
    distributed/_ipython_utils.py

[report]
show_missing = True

[html]
directory = coverage_html_report

