*.pyc
*.py~
build/
dist/
*.egg-info
docs/build
continuous_integration/hdfs-initialized
.DS_Store
.cache
*.lock
.#*
.idea/
.vscode/
.pytest_cache/
dask-worker-space/
.vscode/
*.swp
.ycm_extra_conf.py
tags
