.hypothesis
*.py[cod]
__pycache__/
*.egg-info
.mypy_cache
dask-worker-space/
docs/build
build/
dist/
.idea/
log.*
log
.pytest_cache/
.coverage
.DS_Store
*.sqlite
*.swp
*.swo
.cache/
hdfs-initialized-indicator
.ipynb_checkpoints
mydask.png
.vscode/
