.hypothesis
*.py[cod]
__pycache__/
*.egg-info
.mypy_cache
dask-worker-space/
docs/build
docs/source/generated
build/
dist/
.idea/
log.*
log
.pytest_cache/
.coverage
.coverage.*
coverage.xml
.DS_Store
*.sqlite
*.swp
*.swo
.cache/
hdfs-initialized-indicator
.ipynb_checkpoints
.vscode/
.history
env.yaml
