repos:
  -   repo: https://github.com/pycqa/isort
      rev: 5.9.3
      hooks:
      - id: isort
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.0
    hooks:
      - id: pyupgrade
        args:
          - --py37-plus
  -   repo: https://github.com/psf/black
      rev: 21.9b0
      hooks:
      - id: black
        language_version: python3
        exclude: versioneer.py
        args:
          - --target-version=py37
  -   repo: https://gitlab.com/pycqa/flake8
      rev: 3.9.2
      hooks:
      - id: flake8
        language_version: python3
