repos:
-   repo: https://github.com/python/black
    rev: cad4138050b86d1c8570b926883e32f7465c2880
    hooks:
    - id: black
      language_version: python3.7
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: flake8
