repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: end-of-file-fixer
  -   repo: https://github.com/MarcoGorelli/absolufy-imports
      rev: v0.3.1
      hooks:
      - id: absolufy-imports
        name: absolufy-imports
  -   repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
      - id: isort
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  -   repo: https://github.com/psf/black
      rev: 22.3.0
      hooks:
      - id: black
        language_version: python3
        exclude: versioneer.py
        args:
          - --target-version=py38
  -   repo: https://github.com/pycqa/flake8
      rev: 5.0.4
      hooks:
      - id: flake8
        language_version: python3
  -   repo: https://github.com/codespell-project/codespell
      rev: v2.1.0
      hooks:
      -   id: codespell
          types_or: [rst, markdown]
          files: docs
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.961
    hooks:
      - id: mypy
        # Override default --ignore-missing-imports
        # Use setup.cfg if possible instead of adding command line parameters here
        args: [--warn-unused-configs]
        additional_dependencies:
          # Type stubs
          - types-docutils
          - types-PyYAML
          - types-requests
          - types-setuptools
          # Typed libraries
          - numpy
