language: python
python:
    - "2.6"
    - "2.7"
    - "3.3"
    - "3.4"


install:
  # Install conda
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --add channels blaze
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda

  # Install dependencies
  - conda create -n test-environment python=$TRAVIS_PYTHON_VERSION pytest numpy blaze into pip coverage toolz
  - source activate test-environment

script:
    - py.test dask

after_success:
    - pip install coveralls --use-mirrors ; coveralls

notifications:
  email: false
