recursive-include distributed *.py
recursive-include docs *.rst

include setup.py
include README.rst
include LICENSE.txt
include MANIFEST.in
include requirements.txt
include distributed/config.yaml

prune docs/_build
