recursive-include dask *.py
recursive-include docs/source *
include docs/Makefile docs/make.bat

include setup.py
include README.rst
include LICENSE.txt
include MANIFEST.in
include dask/dask.yaml

include versioneer.py
include dask/_version.py
