recursive-include distributed *.py
recursive-include distributed *.js
recursive-include distributed *.coffee
recursive-include docs *.rst

include setup.py
include README.rst
include LICENSE.txt
include MANIFEST.in
include requirements.txt
include distributed/config.yaml

prune docs/_build
include versioneer.py
include distributed/_version.py
