tornado >= 4.2
toolz >= 0.7.4
msgpack-python
cloudpickle >= 0.2.2
dask >= 0.13.0
click >= 6.6
six
tblib
psutil
zict >= 0.1.1
sortedcollections
futures; python_version < '3.0'
singledispatch; python_version < '3.4'
