# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions

# All other dependencies of the parent Dask project are assumed to have been already installed