  <table class="table is-striped is-hoverable">
    <tr>
        <th> Worker </th>
        <th> Cores </th>
        <th> Memory </th>
        <th> Memory use </th>
        <th> Occupancy </th>
        <th> Processing </th>
        <th> In-memory </th>
        <th> Services</th>
        <th> Logs </th>
    </tr>
    {% for ws in worker_list %}
    <tr>
        <td><a href="../worker/{{ url_escape(ws.address) }}.html">{{ws.address}}</a></td>
        <td> {{ ws.ncores }} </td>
        <td> {{ format_bytes(ws.memory_limit) }} </td>
        <td> <progress class="progress" value="{{ ws.metrics['memory'] }}" max="{{ ws.memory_limit }}"></progress> </td>
        <td> {{ format_time(ws.occupancy) }} </td>
        <td> {{ len(ws.processing) }} </td>
        <td> {{ len(ws.has_what) }} </td>
        {% if 'bokeh' in ws.services %}
        <td> <a href="http://{{ ws.host }}:{{ ws.services['bokeh'] }}">bokeh</a> </td>
        {% else %}
        <td> </td>
        {% end %}
        <td> <a href="../logs/{{ url_escape(ws.address) }}.html">logs</a></td>
    </tr>
    {% end %}
  </table>
