{% extends main.html %}
{% block content %}
    <h1 class="title"> Worker: {{Worker}} </h1>
      {% set ws = workers[Worker] %}
      {% set worker_list = [ws] %}
      {% include "worker-table.html" %}

    <div class="columns">
      <div class="column">
        <div class="content">
          <h2 class="subtitle"> In Memory </h2>
          <ul>
            {% for ts in ws.has_what %}
            <li> <a href="/info/task/{{ url_escape(ts.key) }}.html">{{ts.key}}</a></li>
            {% end %}
          </ul>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <h2 class="subtitle"> Processing </h2>
          <a class="button is-primary" href="/info/call-stacks/{{ url_escape(ws.worker_key) }}.html">Call Stacks</a>
          <ul>
            {% for ts in ws.processing %}
            <li> <a href="/info/task/{{ url_escape(ts.key) }}.html">{{ts.key}}</a></li>
            {% end %}
          </ul>
        </div>
      </div>
    </div>

    {% if ws.resources %}
    <div class="content">
      <h2 class="subtitle"> Resources </h2>
      <table class="table is-striped is-hoverable">>
        <tr>
            <th> Resource </th>
            <th> Consumed </th>
            <th> Total </th>
        </tr>

        {% for resource in ws.resources %}
        <tr>
            <td> {{ resource }} </td>
            <td> {{ ws.used_resources[resource] }} </td>
            <td> {{ ws.resources[resource] }} </td>
        </tr>
        {% end %}
      </table>
    </div>
    {% end %}
{% end %}
