<table>
    <caption style="white-space: nowrap; overflow: hidden; caption-side: bottom;">
      Dask graph: {{ array.npartitions }} Chunks in {{ layers }}, Data type: {{ array.dtype }} {{ array._meta | type | typename }}
    </caption>
    <tr>
        <td>
            <table>
                <thead>
                    <tr>
                        <td> </td>
                        <th> Array </th>
                        <th> Chunk </th>
                    </tr>
                </thead>
                <tbody>
                    {% if nbytes %}
                    <tr>
                        <th> Bytes </th>
                        <td> {{ nbytes }} </td>
                        <td> {{ cbytes }} </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th> Shape </th>
                        <td> {{ array.shape }} </td>
                        <td> {{ array.chunksize }} </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td>
        {{grid}}
        </td>
    </tr>
</table>
