name: test-environment
channels:
  - conda-forge
dependencies:
  # required dependencies
  - python=3.14
  - packaging
  - pyyaml
  - click
  - cloudpickle
  - partd
  - fsspec
  - toolz
  # test dependencies
  - pre-commit
  - pytest
  - pytest-cov
  - pytest-mock
  - pytest-rerunfailures
  - pytest-timeout
  - pytest-xdist
  - coverage
  # key optional dependencies
  - numpy
  - pandas
  - pyarrow
  - distributed  # Overridden by git tip below; used to pull in dependencies
  # optional s3 I/O
  - boto3
  - botocore
  - moto<5
  - s3fs>=2021.9.0
  # other optional dependencies
  - mimesis
  - numba
  - flask
  - h5py
  - pytables
  - zarr
  # - pyspark  # Huge package; limit where it is tested
  - tiledb-py
  - tiledb
  - xarray
  - sqlalchemy
  - jsonschema
  - bokeh
  - httpretty
  - aiohttp
  # - crick  # No Python 3.14 build yet
  - cytoolz
  - ipython
  - ipycytoscape
  - ipywidgets
  - ipykernel
  - lz4
  - psutil
  - requests
  - scikit-image
  - scikit-learn
  - scipy
  - python-snappy
  - sparse
  - cachey
  - python-graphviz
  - python-cityhash
  - python-xxhash
  - mmh3
  - jinja2
  - pip
  - pip:
    - git+https://github.com/dask/distributed
