name: test-environment
channels:
  - conda-forge
dependencies:
  # required dependencies
  - python-freethreading=3.14
  - packaging
  - pyyaml
  - click
  - cloudpickle
  - partd
  - fsspec
  - toolz
  # test dependencies
  - pre-commit
  - pytest
  - pytest-cov
  - pytest-mock
  - pytest-rerunfailures
  - pytest-timeout
  - pytest-xdist
  - coverage
  # key optional dependencies
  - numpy
  - pandas>=3.0.1  # 3.0.0 has major race conditions
  - pyarrow
  # conda variant of distributed depends on cytoolz, which is not available
  # on conda yet.
  # Manually install distributed dependencies from conda below.
  # - distributed  # Overridden by git tip below; used to pull in dependencies
  # optional s3 I/O
  - boto3
  - botocore
  # - moto<5  # Not available for 3.14t on Windows
  # - s3fs>=2026.1.0  # Not available for 3.14t
  # other optional dependencies
  - mimesis
  # - numba  # Not available for 3.14t
  - flask
  # - h5py  # Not available for 3.14t
  # - pytables  # Not available for 3.14t
  # - zarr  # Not available for 3.14t
  # - pyspark  # Huge package; limit where it is tested
  # - tiledb-py  # Not available for 3.14t
  # - tiledb  # Not available for 3.14t
  - xarray
  # - sqlalchemy  # Not available for 3.14t
  - jsonschema
  - bokeh
  - httpretty
  - aiohttp
  # - crick  # No Python 3.14 build yet
  # - cytoolz  # conda package for 3.14t not yet available; installed via pip below
  - ipython
  - ipycytoscape
  - ipywidgets
  # - ipykernel  # Not available for 3.14t
  - lz4
  - psutil
  - requests
  - scikit-image
  - scikit-learn
  - scipy
  # - python-snappy  # dependency cramjam does not release the GIL
  # - sparse  # Not available for 3.14t
  - cachey
  - python-graphviz
  # - python-cityhash  # Not available for 3.14t
  - python-xxhash
  - mmh3
  - jinja2

  ##### 3.14t temporary hacks
  # packages normally pulled in by the `distributed` conda package
  - locket
  # FIXME https://github.com/msgpack/msgpack-python/issues/613
  # Install placeholder to prevent distributed below from compiling the C extension from
  # sources. tests.yml will replace this with a pure-python variant.
  - msgpack-python
  - sortedcontainers
  - tblib
  - tornado
  - urllib3
  - zict
  ##### end 3.14t hacks

  - pip
  - pip:
    - cytoolz  # conda package for 3.14t not yet available
    - git+https://github.com/dask/distributed
