name: test-environment
channels:
  - conda-forge
dependencies:
  # required dependencies
  - packaging=20.0
  - python=3.10
  - pyyaml=5.4.1
  - click=8.1
  - cloudpickle=3.0.0
  - partd=1.4.0
  - fsspec=2021.09.0
  - importlib-metadata=4.13.0
  - toolz=0.12.0
  # optional dependencies pulled in by pip install dask[array,dataframe]
  - numpy=1.26  # pyarrow 16 requires numpy >=1.26; see mindeps-array for 1.24
  - pandas=2.0
  # optional dependencies pulled in by pip install dask[diagnostics]
  - bokeh=3.1.0
  - jinja2=2.10.3
  # optional dependencies pulled in by pip install dask[complete]
  - pyarrow=16.0
  - lz4=4.3.2
  # optional dependencies used by dask
  - cachey=0.1.1
  - crick=0.0.5
  - cytoolz=0.11.2
  - dask-ml=1.4.0
  - fastavro=1.4.7
  - h5py=3.7.0
  - ipycytoscape=1.0.1
  - IPython=7.30.1
  - matplotlib=3.5.0
  - mimesis=5.3.0
  - mmh3=3.0.0
  - numba=0.59.1
  - psutil=5.8.0
  - python-cityhash=0.4.6
  - python-graphviz=0.8.4
  - python-snappy=0.7.1
  - python-xxhash=2.0.2
  - s3fs=2021.9.0
  - scikit-image=0.19.0
  - scipy=1.7.2
  - sparse=0.13.0
  - sqlalchemy=1.4.26
  - tblib=1.6.0
  - tiledb-py=0.27.0
  - zarr=2.12.0
  - bottleneck=1.3.7
  - pip
  - pip:
      # optional dependencies pulled in by pip install dask[distributed]
      - git+https://github.com/dask/distributed
  # test dependencies
  - pre-commit
  - pytest
  - pytest-cov
  - pytest-mock
  - pytest-rerunfailures
  - pytest-timeout
  - pytest-xdist
