numpydoc
sphinx>=4.0.0
# dask-sphinx-theme>=2.0.0
git+https://github.com/jrbourbeau/dask-sphinx-theme.git@remove-toctrees
sphinx-click
sphinx-tabs
toolz
cloudpickle
pandas>=1.0.0
git+https://github.com/dask/distributed
fsspec
scipy
pytest
pytest-check-links
requests-cache
