# We pin numpydoc to avoid doubly-escaped *args and **kwargs in rendered docs
# due to a weird interaction between sphinx autosummary and numpydoc >= 0.9.0
numpydoc==0.8.0
sphinx
dask-sphinx-theme>=1.1.0
sphinx-click
toolz
cloudpickle
pandas>=0.23.0
distributed
fsspec
scipy
