numpydoc
sphinx>=4.0.0
git+https://github.com/jsignell/dask-sphinx-theme@docs-refresh
sphinx-click
toolz
cloudpickle
pandas>=0.25.0
git+https://github.com/dask/distributed
fsspec
scipy
pytest
pytest-check-links
requests-cache
