name: Upstream

on:
  schedule:
    - cron: "0 1 * * *"
  push:
  pull_request:

# Required shell entrypoint to have properly activated conda environments
defaults:
  run:
    shell: bash -l {0}

jobs:

  check:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    outputs:
      test-upstream: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1
        id: detect-trigger
        with:
          keyword: "test-upstream"

  build:
    needs: check
    runs-on: ubuntu-latest
    if: |
      always()
      && (
          needs.check.outputs.test-upstream == 'true'
          || (github.repository == 'dask/dask' && github.event_name != 'pull_request')
      )

    env:
      COVERAGE: "true"

    steps:
      - name: Checkout source
        uses: actions/checkout@v3.1.0

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true
          channel-priority: strict
          python-version: "3.9"
          environment-file: continuous_integration/environment-3.9.yaml
          activate-environment: test-environment
          auto-activate-base: false

      - name: Install
        env:
          UPSTREAM_DEV: 1
        run: source continuous_integration/scripts/install.sh

      - name: Run tests
        id: run_tests
        env:
          XTRATESTARGS: "--report-log output-log.jsonl"
        run: source continuous_integration/scripts/run_tests.sh

      - name: Generate and publish the report
        if: |
          failure()
          && github.event_name != 'pull_request'
          && github.repository == 'jrbourbeau/dask'
          && steps.run_tests.outcome == 'failure'
        uses: jrbourbeau/issue-from-pytest-log@add-more-options
        with:
          log-path: output-log.jsonl
          issue-title: test-issue-from-pytest-log

      - name: Coverage
        uses: codecov/codecov-action@v3
